<div class="container">

  <div class="panel panel-default">
    <div class="panel-body">

      <div class="col-md-4">
        <div class="row">
          <div class="form-group">
            <label for="companyInput">Company</label>
            <input type="text" class="form-control" ng-model="$ctrl.company" placeholder="Company">
          </div>

          <div class="form-group">
            <label for="positionInput">Position</label>
            <input type="text" class="form-control" ng-model="$ctrl.position" placeholder="Position">
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="question">Question</label>
        <textarea type="text" class="form-control" rows="5" ng-model="$ctrl.question" placeholder="Question"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="retrospective">Retrospective</label>
        <textarea type="text" class="form-control" rows="5" ng-model="$ctrl.retrospective" placeholder="Retrospective"></textarea>
      </div>
    </div>
  </div>

</div>
