<div class="container">

  <div class="panel panel-default">
    <div class="panel-body">

      <div class="row">
        <div class="col-md-4">
          <h3>{{$ctrl.company}} {{$ctrl.position}}</h3>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="question">Question</label>
        <textarea type="text" class="form-control" rows="5" ng-model="$ctrl.question" placeholder="Question"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="retrospective">Retrospective</label>
        <textarea type="text" class="form-control" rows="5" ng-model="$ctrl.retrospective"
                  placeholder="Retrospective"></textarea>
      </div>
    </div>
  </div>

</div>
